<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Url Shortener</a>
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'navbar-brand pull-right') %>
        <%= link_to('Edit registration', edit_user_registration_path, class: 'navbar-brand pull-right') %>
      <% else %>
        <%= link_to('Login', new_user_session_path, class: 'navbar-brand pull-right')  %>
      <% end %>
    </div>
  </div>
</nav>