<div class="jumbotron shorten-jumbotron">
  <div class="container text-center">
    <h1 class="tagline">Shorten your URL</h1>
    <div class="form-container">
      <div class="input-group input-group-lg">
        <input id="shorten-input" type="text" class="form-control" placeholder="Paste a link to shorten it">
        <span class="input-group-btn">
          <button id="shorten-btn" class="btn btn-success" type="button">SHORTEN</button>
        </span>
      </div>
    </div>
  </div>
</div>

<div id="loader" class="container text-center">
  <div class="cssload-whirlpool"></div>
</div>

<div class="container text-center">
  <h1>Recent shotened urls</h1>
  <div class="shorten-urls-container">
    <ul id="shorten-list" class="list-group">
      <% @links.each do |link| %>
        <li class="list-group-item">
          <%= link.title || link.long_url %>
          <br />
          <a href="<%= link.long_url %>"><%= link.long_url %></a>
          <br />
          <div class="shorten-link">
            <span><%= link.short_url %></span>
            <span class="glyphicon glyphicon-signal pull-right" aria-hidden="true"></span>
            <a href="<%= "#{link.short_url}+" %>" class="pull-right"><%= link.clicks %></a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<footer>
  <p class="text-center">© 2017 <a href="http://minthetnaing.xyz">Min Thet Naing</a>.</p>
</footer>

<%= javascript_tag do %>
  window.access_token = '<%= raw @access_token %>';
  window.client = '<%= raw @client %>';
  window.uid = '<%= raw @uid %>';
  window.links = '<%= raw @links.to_json %>';
<% end %>