<div class="container text-center">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Long url:</strong>
    <%= @link.long_url %>
  </p>

  <p>
    <strong>Short url:</strong>
    <%= @link.short_url %>
  </p>

  <p>
    <strong>Hash key:</strong>
    <%= @link.hash_key %>
  </p>

  <p>
    <strong>Clicks:</strong>
    <%= @link.clicks %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @link.title %>
  </p>

  <p>
    <strong>Domain:</strong>
    <%= @link.domain %>
  </p>

  <h2>Total Clicks <b><%= @links.sum(:clicks) %></b> from <b><%= @links.count %></b> Links</h2>

  <h1>Click Chart</h1>
  <%= column_chart @link.link_clicks.group_by_day(:created_at).count %>

  <h1>Location</h1>
  <%= pie_chart Visit.where(id: @link.link_clicks.pluck(:visit_id)).group(:country).count %>

  <h1>Browser</h1>
  <%= pie_chart Visit.where(id: @link.link_clicks.pluck(:visit_id)).group(:browser).count %>

</div>
