<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Page Not Found</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      body {
        display: table;
      }

      .message {
        text-align: center;
      }

      .message h1 {
        color: #333;
      }
    </style>
  </head>
  <body>
    <div class="message">
      <h1>No Long URL found.</h1>
    </div>
  </body>
</html>