h1 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

pre {
  border: 0;
  background-color: transparent;
  white-space: nowrap;
}

.col-md-4 p, .credits p, .row li {
  color: #555;
}

.key_features {
  text-shadow: none;
  font-weight: bold;
}

.tagline {
  text-shadow: #525252 0px 0px 20px;
  margin-bottom: 1em;
}

.form-container {
  width: 50%;
  margin: 0 auto;
}

.shorten-urls-container {
  width: 50%;
  margin: 2em auto;
  text-align: left;
  color: #333;
}

.shorten-link {
  display: block;
  margin-top: 1.5em;
  color: #ee6123;
  cursor: pointer;
}

.shorten-link > span.pull-right {
  color: #333;
}

.shorten-link > a.pull-right {
  margin-right: 0.5em;
  color: #333;
}

.shorten-jumbotron {
  min-height: 50vh;
  max-height: 50vh;
  padding-top: 10vh !important;
  padding-bottom: 10vh;
}

.center {
  width: 300px;
  margin: 0 auto;
  text-align: left;
}

.custom-image {
  position: relative;
  bottom: -110px;
  padding: 40px;
  margin: 0 auto;
  margin-top: -120px;
  width: 900px;
  height: auto;
}

.logo-image {
  width: 150px;
  height: auto;
  display: initial;
}

.jumbotron {
  padding-top: 0;
  background-color: #ddd;
  color: #ffffff;
}

.navbar-fixed-bottom, .navbar-fixed-top, .navbar-fixed-bottom, .navbar-fixed-top {
  position: inherit;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inverse {
  background-color: #4CAF50;
  border-color: #4CAF50;
  .navbar-brand {
    color: #ffffff;
  }
}

.navbar-header {
  width: 100%;
}

.shorten-link > li {
  transition: all 0.4s ease;
}


#loader{
  position:relative;
  margin-top:5em;
  display: none;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 974px;
		-o-border-radius: 974px;
		-ms-border-radius: 974px;
		-webkit-border-radius: 974px;
		-moz-border-radius: 974px;
}

.cssload-whirlpool {
	margin: -24px 0 0 -24px;
	height: 49px;
	width: 49px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -22px 0 0 -22px;
	height: 43px;
	width: 43px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -28px 0 0 -28px;
	height: 55px;
	width: 55px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}

@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}



footer {
  width: 100%;
}