<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= javascript_include_tag 'chart', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//www.google.com/jsapi" %>
    <%= render partial: "partials/navbar", object: @current_user %>
    <div class="flash-message-div">
      <%- flash.each do |name, msg| -%>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == 'notice' ? 'success' : 'danger'%> alert-dismissible">
            <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
            </button>
            <%= msg %>
          </div>
        <% end %>
      <%- end -%>
    </div>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>