<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "partials/navbar", object: @current_user %>

    <div class="container" style="margin-top:10em">
      <div class="col-md-4 col-lg-4 col-sm-12 col-md-offset-4 col-lg-offset-4">
        <%- flash.each do |name, msg| -%>
          <% if msg.is_a?(String) %>
            <div class="alert alert-<%= name == 'notice' ? 'success' : 'danger'%> alert-dismissible">
              <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                <span aria-hidden='true'>&times;</span>
              </button>
              <%= msg %>
            </div>
          <% end %>
        <%- end -%>

        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>